@model DinamikWebSite.Models.Entity.Urunler
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="container" method="post" style="margin-right:180px">
    <label>Ürün Adı</label>
     <input type="text" name="UrunAd" class="form-control"/>
    <br />
    <label>Ürün Kategori</label>
    @Html.DropDownListFor(m=>m.Kategori.Id, (List<SelectListItem>)ViewBag.urun, new {@class="form-control"})
    <br />
    <label>Ürün Marka</label>
    <input type="text" name="UrunMarka" class="form-control"/>
    <br />
    <label>Ürün Fiyat</label>
    <input type="number" name="UrunFiyat" class="form-control"/>
    <br />
    <label>Kategi Stok</label>
    <input type="number" name="Stok" class="form-control"/>
    <br />
    <button class="btn btn-warning">Ürün Ekle</button>
</form>

