
@{
    ViewBag.Title = "MusteriEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<form class="container" method="post">
    <label>Müşteri Ad</label>
    <input type="text" class="form-control" name="MusteriAd"/>
    <br />
    <label>Müşteri Soyad</label>
    <input type="text" class="form-control" name="MusteriSoyad"/>
    <br />
    <button class="btn btn-warning">Ekle</button>
</form>

